<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="category" label="Category">
        <field name="show_category_title" type="radio" default="1" label="Category Title" description="PARAM CATEGORY TITLE">
            <option value="0">Hide</option>
            <option value="1">Show</option>
        </field>
        <field name="show_category_description" type="radio" default="1" label="Category Description" description="PARAM CATEGORY DESCRIPTION">
            <option value="0">Hide</option>
            <option value="1">Show</option>
        </field>
        <field name="show_category_image" type="radio" default="1" label="Category Image" description="PARAM CATEGORY IMAGE">
            <option value="0">Hide</option>
            <option value="1">Show</option>
        </field>
    </fieldset>
    <fieldset name="item-basic" label="Item Basic">
        <field name="show_item_title" type="radio" default="1" label="Item Title" description="PARAM ITEM TITLE">
            <option value="0">Hide</option>
            <option value="1">Show</option>
        </field>
        <field name="show_item_text" type="radio" default="1" label="Item Text" description="PARAM ITEM TEXT">
            <option value="0">Hide</option>
            <option value="1">Show</option>
        </field>
        <field name="show_item_image" type="radio" default="1" label="Item Image" description="PARAM ITEM IMAGE">
            <option value="0">Hide</option>
            <option value="1">Show</option>
        </field>
        <field name="title_link" type="radio" default="0" label="Item Linked Title" description="PARAM ITEM LINK TITLE">
            <option value="0">Hide</option>
            <option value="1">Show</option>
        </field>
        <field name="image_link" type="radio" default="1" label="Item Linked Image" description="PARAM ITEM LINK IMAGE">
            <option value="0">Hide</option>
            <option value="1">Show</option>
        </field>
    </fieldset>
    <fieldset name="item-readmore" label="Item Readmore">
		<field name="readmore" type="radio" default="0" label="Read-more link" description="PARAM ITEM READMORE">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="readmore_text" type="text" default="" label="Read-more text" description="PARAM ITEM READMORE TEXT"/>
		<field name="readmore_class" type="text" default="" label="Read-more class" description="PARAM ITEM READMORE CLASS"/>
    </fieldset>
    <fieldset name="item-other" label="Item Other">
		<field name="link_class" type="text" default="" label="Link class" description="PARAM ITEM LINK CLASS"/>
		<field name="link_rel" type="text" default="" label="Link relationship" description="PARAM ITEM LINK REL"/>
        <field name="link_show" type="list" default="1" label="Link show" description="PARAM ITEM LINK SHOW">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </field>
		<field name="target" type="list" default="0" label="Link Target" description="PARAM ITEM LINK TARGET">
			<option value="0">Parent Window With Browser Navigation</option>
			<option value="1">New Window With Browser Navigation</option>
			<option value="2">New Window Without Browser Navigation</option>
		</field>
		<field name="picture_alignment" type="list" default="left" label="Image Align" description="PARAM ITEM IMAGE ALIGN">
			<option value="">None</option>
			<option value="left">Left</option>
			<option value="right">Right</option>
		</field>
    </fieldset>
    <fieldset name="advanced" label="Advanced">
		<field name="sef_url" type="list" default="alias" label="SEF-type" description="PARAM SEF TYPE">
			<option value="alias">Alias</option>
			<option value="slug">Slug</option>
		</field>
		<field name="use_parent_url" type="list" default="0" label="Use parent URL" description="PARAM PARENT URL">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
    </fieldset>
	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules" component="com_simplelists" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
</config>
