/**
 * Joomla! component Simple Lists
 *
 * @author Yireo
 * @copyright Copyright 2016
 * @link https://www.yireo.com/
 */

table.paramlist td.paramlist_key {
    width: 142px;
    text-align: left; 
    height: 30px;
}
